
        #d{
            color: aquamarine;
            background-color: black;
        }
        #c{
            color:black;
            background-color: crimson;
        }
        #t{
            color: black;
            background-color: blue;
        }
        .s{
            color: black;
            background-color: aquamarine;
        }
        #m{
            color: black;
            background-color: blue;
        }
        #l{
            color: black;
            background-color: blue;
        }
        h2{
            color: black;
            background-color: blue;
        }
        .o{
            color: chocolate;
            background-color: black;
        }
        #e{
            color: chocolate;
            background-color: black; 
        }
